.header__logo {
  width: 142.01px;
  height: 33.4px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 45px;
}

@media screen and (max-width: 900px) {
  .header__logo {
   margin: 0 27px;
  }
}

@media screen and (max-width: 660px) {
  .header__logo {
   width: 103.74px;
   height: 24.4px;
  }
}
