.popup__title {
  padding: 0;
  margin: 34px 64px 54px 36px;
  text-align: left;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 575px) {
  .popup__title {
    width: calc(100% - 30px*2);
    margin: 25px auto;
    font-size: 16px;
    line-height: 1.2;
   }
}
