.place__like_pressed {
  background-image: url(../../../../images/like-button-pressed.svg);
  display: block;
  position: absolute;
  margin: 22px 20px 38px 240px;
  z-index: 3;

  width: 20.76px;
  height: 18.13px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

