.popup__close {
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  top: -40px;
  right: -38px;
  padding: 0;
  background-image: url(../../../images/close-button.svg);
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .4s;
  border: none;
  background-color: transparent;
}

.popup__close:hover {
  opacity: 0.6;
}
