.footer {
  margin: 66px auto 60px;
  text-align: left;
  max-width: 882px;
  height: 18px;
}

@media screen and (max-width: 900px) {
  .footer {
    width: calc(100% - 19px*2);
    margin: 48px auto 33px;
  }
}

