.popup__container {
  position: relative;
  z-index: 10;
  width: 430px;
  height: 330px;
  margin: auto;


  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


@media screen and (max-width: 575px) {
  .popup__container {
    width: calc(100% - 45px*2);
    min-width: 250px;
    max-width: 320px;
    height: 220px;
  }
}
